@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p>Buradan veritabanı ile yeni kitap türleri ekleyebilir ve düzenleyebilirsiniz.</p>
    <p>Öğretici amaçla hazırlanmıştır.</p>
    <p>Teşekkürler..</p>
</div>
