@{
    ViewData["Title"] = "Gizlilik Sözleşmesi";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sayfa, web sitenizin gizlilik politikasını detaylandırmak için kullanılabilir.</p>

<h2>Gizlilik Politikası</h2>
<p>Web sitemiz, kullanıcılarının gizliliğine büyük önem vermektedir. Aşağıda, web sitemizi kullandığınızda topladığımız veriler ve bu verilerin nasıl kullanıldığı hakkında bilgi bulabilirsiniz.</p>

<h3>Toplanan Veriler</h3>
<p>Web sitemizi ziyaret ettiğinizde, kişisel bilgilerinizi (isim, e-posta adresi, vb.) yalnızca belirli hizmetleri sağlamak amacıyla toplarız. Ayrıca, tarayıcı bilgileri, IP adresi ve kullanım bilgileri gibi anonim veriler de toplanabilir.</p>

<h3>Veri Kullanımı</h3>
<p>Toplanan veriler, sadece hizmetlerimizi geliştirmek ve kullanıcı deneyimini iyileştirmek amacıyla kullanılacaktır. Hiçbir kişisel bilgi, izinsiz üçüncü şahıslarla paylaşılmayacaktır.</p>

<h3>Çerezler (Cookies)</h3>
<p>Web sitemiz, kullanıcı deneyimini iyileştirmek için çerezler kullanmaktadır. Çerezler, tarayıcınız aracılığıyla bilgisayarınıza yerleştirilen küçük metin dosyalarıdır. Bu dosyalar, web sitemizin verimli çalışmasına yardımcı olur.</p>

<h3>Veri Güvenliği</h3>
<p>Kişisel verileriniz, güvenli bir şekilde saklanır ve yalnızca yetkili kişiler tarafından erişilebilir. Web sitemiz, verilerinizi korumak için gerekli güvenlik önlemlerini alır.</p>

<h3>İletişim</h3>
<p>Gizlilik politikasındaki değişiklikler hakkında bilgi almak veya kişisel verilerinizle ilgili herhangi bir sorunuz olması durumunda bizimle iletişime geçebilirsiniz.</p>

<p>Teşekkürler..</p>
